@{
    var nombres = TempData["Nombres"] as List<LimpFormularioActividad>; 
}
@model List<LimpRegistroDetalle>

<form method="post" asp-action="Envio" class="form-horizontal">
    <input type="hidden" name="CodArea" value='@TempData["Area"]' />
    <input type="hidden" name="CodFormulario" value='@TempData["Formulario"]' />
    <input type="hidden" name="NumFormulario" value='@TempData["NumFormulario"]' />
    <input type="hidden" name="CodEmpresa" value='@TempData["Empresa"]' />
    @foreach (var item in (TempData["User"] as List<string>))
    {
        <input type="hidden" name="User" value="@item" />
    }

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex flex-column align-items-center">
                        <h3 class="card-title"><strong>Tabla de actividades</strong></h3>
                    </div>
                    <div class="card-header">
                        <p></p>
                        <p><strong>Usuario: </strong>@((TempData["User"] as List<string>)?.FirstOrDefault())</p>
                        <p><strong>Area: </strong> @TempData["Area"]</p>
                        <p><strong>Formulario: </strong>@TempData["NumFormulario"]</p>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>  
                                <th><strong>Nombre</strong></th>
                                <th><strong>Realizado</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    
                                    <td>
                                        @foreach(var nombre in nombres)
                                        {
                                            @if (Model[i].CodActividad == nombre.CodActividad)
                                            {
                                                <strong> @nombre.Decsripcion</strong>
                                            }
                                        }
                                        
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input type="hidden" name="model[@i].CodActividad" value='@Model[i].CodActividad' />

                                            @if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "SupervisorLimp" || (TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "VerificadorLimp")
                                            {
                                                <input type="checkbox" class="form-check-input" name="model[@i].Realizado" value="true" disabled="disabled" @(Model[i].Realizado ?? false ? "checked" : "") />
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="form-check-input" name="model[@i].Realizado" value="true" @(Model[i].Realizado ?? false ? "checked" : "") />
                                            }

                                            <input type="hidden" name="model[@i].VerificadoPor" value='@Model[i].VerificadoPor' />
                                            <label class="form-check-label @(Model[i].Realizado ?? false ? "text-success" : "text-danger")">
                                                @(Model[i].Realizado ?? false ? "*" : "*")
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                @if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "OperadorLimp")
                {
                    @if (TempData["Estado"].ToString() == "Abierto")
                    {
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    }
                    else
                    {
                        <a class="btn btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">Enviar</a>
                    }
                }
            </div>
        </div>
    </div>
</form>
<div class="d-flex justify-content-center">
    @if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "OperadorLimp")
    {
        <form method="post" asp-action="Salir" class="text-center">
            <input type="hidden" name="CodArea" value='@TempData["Area"]' />
            <input type="hidden" name="CodFormulario" value='@TempData["Formulario"]' />
            <input type="hidden" name="NumFormulario" value='@TempData["NumFormulario"]' />
            <input type="hidden" name="CodEmpresa" value='@TempData["Empresa"]' />
            <input type="hidden" name="Estado" value='@TempData["Estado"]' />
            @foreach (var item in (TempData["User"] as List<string>))
            {
                <input type="hidden" name="User" value="@item" />
            }
            <button type="submit" class="btn btn-danger">Atras</button>
        </form>
    }
    else if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "SupervisorLimp")
    {
        <form method="post" action="@Url.Action("Filter", "Supervisor")" class="text-center">
            <input type="hidden" name="accion" value="@TempData["accion"]" />
            @foreach (var item in (TempData["User"] as List<string>))
            {
                <input type="hidden" name="User" value="@item" />
            }
            <button type="submit" class="btn btn-danger">Atras</button>
        </form>
    }
    else if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "VerificadorLimp")
    {
        <form method="post" action="@Url.Action("Filter", "Verificador")" class="text-center">
            <input type="hidden" name="accion" value="@TempData["accion"]" />
            @foreach (var item in (TempData["User"] as List<string>))
            {
                <input type="hidden" name="User" value="@item" />
            }
            <button type="submit" class="btn btn-danger">Atras</button>
        </form>
    }
    @if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "SupervisorLimp")
    {
        <form method="post" asp-action="EnviarVerificado" class="text-center">
            <input type="hidden" name="CodArea" value='@TempData["Area"]' />
            <input type="hidden" name="CodFormulario" value='@TempData["Formulario"]' />
            <input type="hidden" name="NumFormulario" value='@TempData["NumFormulario"]' />
            <input type="hidden" name="CodEmpresa" value='@TempData["Empresa"]' />
            <input type="hidden" name="Estado" value='@TempData["Estado"]' />
            <input type="hidden" name="accion" value='@TempData["accion"]' />
            @foreach (var item in (TempData["User"] as List<string>))
            {
                <input type="hidden" name="User" value="@item" />
            }
            @if (TempData["Estado"].ToString() == "Cerrado")
            {
                <button type="submit" class="btn btn-success">Revisado</button>
            }
            else if (TempData["Estado"].ToString() == "Revisado")
            {
                <button type="button" class="btn btn-success" disabled>Revisado</button>
            }
        </form>
        @if (TempData["Estado"].ToString() == "Cerrado" || TempData["Estado"].ToString() == "Revisado")
        {
            <form method="post" action="@Url.Action("AbrirFormulario", "Supervisor")" class="d-inline text-center">
                <input type="hidden" name="CodArea" value='@TempData["Area"]' />
                <input type="hidden" name="CodFormulario" value='@TempData["Formulario"]' />
                <input type="hidden" name="NumFormulario" value='@TempData["NumFormulario"]' />
                <input type="hidden" name="CodEmpresa" value='@TempData["Empresa"]' />
                <input type="hidden" name="Estado" value='@TempData["Estado"]' />
                <input type="hidden" name="accion" value='@TempData["accion"]' />
                @foreach (var item in (TempData["User"] as List<string>))
                {
                    <input type="hidden" name="User" value="@item" />
                }
                <button type="submit" class="btn btn-outline-primary">Reabrir formulario</button>
            </form>
        }
    }
</div>
