
@model List<LimpArea>

<div class="content">
    <p></p>
    <p><strong>Usuario:</strong> @((TempData["User"] as List<string>)?.FirstOrDefault())</p>
    <p><strong>Fecha y hora actual:</strong> <span id="fechaHoraActual"></span></p>
    <hr>
    @if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "VerificadorLimp" || (TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "SupervisorLimp")
    {
        <div>
            <p><strong>Informacion con las fechas:</strong>  </p>
            <p><strong>Inicio: </strong> @TempData["FechaInicio"] </p>
            <p><strong>Final: </strong> @TempData["FechaFinV"] </p>
        </div>
        <hr>
        <button class="btn btn btn-light" id="toggleRango">Elegir un rango de fechas</button>
        <br>
        <div id="resultado">
            <br>
            <form method="post" action="@Url.Action("Index", "Inicio")">
                <label for="fecha1">Fecha de inicio:</label>
                <input type="date" id="fecha1" name="fechaInicio" value="@(((DateTime?)TempData["FechaInicio"])?.ToString("yyyy-MM-dd"))">

                <label for="fecha2">Fecha de fin:</label>
                <input type="date" id="fecha2" name="fechaFin" value="@(((DateTime?)TempData["FechaFinV"])?.ToString("yyyy-MM-dd"))">

                @foreach (var item in (TempData["User"] as List<string>))
                {
                    <input type="hidden" name="User" value="@item" />
                }

                <br>
                <button type="submit" class="btn btn-dark">Consultar</button>
            </form>
        </div>
        <hr>
    }
    
    
    @if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "VerificadorLimp")
    {
        
        <h5 class="mt-4 mb-2">Formularios <code>Verificador</code></h5>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box bg-info">
                    <span class="info-box-icon"><i class="fas fa-folder-open"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Formularios <strong>abiertos</strong> </span>
                        <span class="info-box-number"><h3>@TempData["Count"]</h3></span>
                        <form method="post" action="@Url.Action("Filter", "Verificador")">
                        <input type="hidden" name="accion" value="1" />
                        <input type="hidden" name="FechaInicio" value="@TempData["FechaInicio"]" />
                        <input type="hidden" name="FechaFin" value="@TempData["FechaFin"]" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas...</button>
                        </form>
                    </div>
                    
                </div>
                
            </div>

            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box bg-warning">
                    <span class="info-box-icon"><i class="fas fa-check-circle"></i></span>
                    <div class="info-box-content">                      
                        <span class="info-box-text">Formularios <strong>revisados</strong></span>
                        <span class="info-box-number"><h3>@TempData["Revisado"]</h3></span>
                        <form method="post" action="@Url.Action("Filter", "Verificador")">
                        <input type="hidden" name="accion" value="3" />
                        <input type="hidden" name="FechaInicio" value="@TempData["FechaInicio"]" />
                        <input type="hidden" name="FechaFin" value="@TempData["FechaFin"]" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas...</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12">
                <div class="info-box bg-danger">
                    <span class="info-box-icon"><i class="fas fa-check-double"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Formularios <strong>verificados</strong></span>
                        <span class="info-box-number"><h3>@TempData["Verificado"]</h3></span>
                        <form method="post" action="@Url.Action("Filter", "Verificador")">
                        <input type="hidden" name="accion" value="4" />
                        <input type="hidden" name="FechaInicio" value="@TempData["FechaInicio"]" />
                        <input type="hidden" name="FechaFin" value="@TempData["FechaFin"]" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas...</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    @if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "SupervisorLimp")
    {
        <h5 class="mb-2 mt-6"> <strong>Formularios </strong> </h5>
        <div class="row">
            <div class="col-lg-6 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@TempData["Count"]</h3>
                        <p><strong>Formularios abiertos</strong></p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <form method="post" action="@Url.Action("Filter", "Supervisor")">
                        <input type="hidden" name="accion" value="3" />
                        <input type="hidden" name="FechaInicio" value="@TempData["FechaInicio"]" />
                        <input type="hidden" name="FechaFin" value="@TempData["FechaFin"]" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas ...</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@TempData["Revisado"]</h3>
                        <p>Formulario <strong>revisados</strong></p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-check-circle"></i>
                    </div>

                    <form method="post" action="@Url.Action("Filter", "Supervisor")">
                        <input type="hidden" name="accion" value="2" />
                        <input type="hidden" name="FechaInicio" value="@TempData["FechaInicio"]" />
                        <input type="hidden" name="FechaFin" value="@TempData["FechaFin"]" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas ...</button>
                    </form>
                </div>
            </div>
        </div>


    }
    @if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "SupervisorLimp")
    {
        <hr>

        <h5 class="mb-2"><strong>Areas</strong></h5>
    <div class="row">
        @foreach (var area in Model)
        {
            <div class="col-lg-4 col-6">
                <div class="card card-success">
                    <div class="card-header">
                        
                        <div class="card-tools">
                            
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("Index","Responsable")">
                            <input type="hidden" name="codArea" value="@area.CodArea" />
                            <input type="hidden" name="CodRegistro" value="@area.CodRegistro" />
                            <input type="hidden" name="FechaInicio" value="@TempData["FechaInicio"]" />
                            <input type="hidden" name="FechaFin" value="@TempData["FechaFin"]" />
                            @foreach (var item in (TempData["User"] as List<string>))
                            {
                                <input type="hidden" name="User" value="@item" />
                            }
                            <button type="submit" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer; font: inherit;">@Html.DisplayFor(m => area.Descripcion)</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        } 
    </div>
    }
</div>

<script>
    var boton = document.getElementById("toggleRango");
    var resultadoDiv = document.getElementById("resultado");

    resultadoDiv.style.display = "none";
    boton.classList.add("btn-warning");

    boton.addEventListener("click", function () {
        if (resultadoDiv.style.display === "none" || resultadoDiv.style.display === "") {
            resultadoDiv.style.display = "block";
            boton.textContent = "Ocultar rango de fechas";
            boton.classList.remove("btn btn-dark");
            boton.classList.add("btn-primary");  
        } else {
            resultadoDiv.style.display = "none";
            boton.textContent = "Elegir un rango de fechas";
            boton.classList.remove("btn btn-dark");
            boton.classList.add("btn btn-dark");
        }
    });
</script>

