@model List<LimpArea>

<div class="content">
    <p></p>
    <p><strong>Usuario:</strong> @((TempData["User"] as List<string>)?.FirstOrDefault())</p>
    <p><strong>Fecha y hora actual:</strong> <span id="fechaHoraActual"></span></p>
    <hr>
    @if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "Verificador")
    {
        <h5 class="mt-4 mb-2">Formularios <code>Verificador</code></h5>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-6">
                <div class="info-box bg-info">
                    <span class="info-box-icon"><i class="fas fa-folder-open"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Formularios <strong>abiertos</strong> </span>
                        <span class="info-box-number"><h3>@TempData["Count"]</h3></span>
                        <form method="post" action="@Url.Action("Filter", "Verificador")">
                        <input type="hidden" name="accion" value="1" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas...</button>
                        </form>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-success">
                    <span class="info-box-icon"><i class="fas fa-folder"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Formularios <strong>cerrados</strong></span>
                        <span class="info-box-number"><h3>@TempData["Cerrado"]</h3></span>
                        <form method="post" action="@Url.Action("Filter", "Verificador")">
                        <input type="hidden" name="accion" value="2" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas...</button>
                        </form>
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-warning">
                    <span class="info-box-icon"><i class="fas fa-check-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Formularios <strong>supervisados</strong></span>
                        <span class="info-box-number"><h3>@TempData["Revisado"]</h3></span>
                        <form method="post" action="@Url.Action("Filter", "Verificador")">
                        <input type="hidden" name="accion" value="3" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas...</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
                <div class="info-box bg-danger">
                    <span class="info-box-icon"><i class="fas fa-check-double"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Formularios <strong>verificados</strong></span>
                        <span class="info-box-number"><h3>@TempData["Verificado"]</h3></span>
                        <form method="post" action="@Url.Action("Filter", "Verificador")">
                        <input type="hidden" name="accion" value="4" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas...</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    @if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "super")
    {
        <h5 class="mb-2 mt-4">Areas</h5>
        <div class="row">
            <div class="col-lg-4 col-4">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>@TempData["Count"]</h3>
                        <p><strong>Formularios abiertos</strong></p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-folder-open"></i>
                    </div>
                    <form method="post" action="@Url.Action("Filter", "Supervisor")">
                        <input type="hidden" name="accion" value="3" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas ...</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-4">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>@TempData["NoRevisado"]</h3>
                        <p>Formularios <strong>NO revisados</strong></p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </div>

                    <form method="post" action="@Url.Action("Filter", "Supervisor")">
                        <input type="hidden" name="accion" value="1" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas ...</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-4">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>@TempData["Revisado"]</h3>
                        <p>Formulario <strong>revisados</strong></p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-check-circle"></i>
                    </div>

                    <form method="post" action="@Url.Action("Filter", "Supervisor")">
                        <input type="hidden" name="accion" value="2" />
                        @foreach (var item in (TempData["User"] as List<string>))
                        {
                            <input type="hidden" name="User" value="@item" />
                        }
                        <button type="submit" class="btn btn-outline-secondary">Ver mas ...</button>
                    </form>
                </div>
            </div>
        </div>


    }
    @if ((TempData["User"] as List<string>)?.ElementAtOrDefault(2) == "Responsable")
    {
        
  
        <h3 class="mb-2"><strong>Areas</strong></h3>
    <div class="row">
        @foreach (var area in Model)
        {
            <div class="col-lg-4 col-6">
                <div class="card card-success">
                    <div class="card-header">
                        
                        <div class="card-tools">
                            
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("Index","Responsable")">
                            <input type="hidden" name="codArea" value="@area.CodArea" />
                            <input type="hidden" name="CodRegistro" value="@area.CodRegistro" />
                            @foreach (var item in (TempData["User"] as List<string>))
                            {
                                <input type="hidden" name="User" value="@item" />
                            }
                            <button type="submit" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer; font: inherit;">@Html.DisplayFor(m => area.Descripcion)</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        } 
    </div>
    }
</div>
