@model List<LimpRegistro>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex flex-column align-items-center">
                    <h3 class="card-title">Tabla de formularios</h3>

                    
                </div>
                <div>
                    <h5>Area: @TempData["Area"] </h5>
                    <h5>Formulario: @TempData["Formulario"] </h5>
                    <h5>Usuario: Nelson Molina</h5>
                    <p>Fecha y hora actual: <span id="fechaHoraActual"></span></p>

                </div>               
                
                <div class="d-flex justify-content-between align-items-center">
                    

                    <form method="post" asp-action="CreateForm">
                        <input type="hidden" name="CodArea" value="@TempData["Area"]" />
                        <input type="hidden" name="CodFormulario" value="@TempData["Formulario"]" />
                        <input type="hidden" name="CodEmpresa" value="@TempData["Empresa"]" />
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table id="tablaRegistros" class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <td>Numero</td>
                            <td>Area</td>
                            <td>Turno</td>
                            <td>Fecha</td>
                            <td>Actividades</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var registros in Model)
                        {
                            var botonID = "botonCerrar_" + registros.NumFormulario; 
                            <tr>
                                <td>@Html.DisplayFor(m => registros.NumFormulario)</td>
                                <td>@Html.DisplayFor(m => registros.CodArea)</td>
                                <td>@Html.DisplayFor(m => registros.Turno)</td>
                                <td>@Html.DisplayFor(m => registros.FechaHoraCreacion)</td>

                                <td>
                                    <form method="post" action="@Url.Action("Index", "ActividadResponsable")">
                                        <input type="hidden" name="CodArea" value="@registros.CodArea" />
                                        <input type="hidden" name="CodFormulario" value="@registros.CodFormulario" />
                                        <input type="hidden" name="NumFormulario" value="@registros.NumFormulario" />
                                        <input type="hidden" name="CodEmpresa" value="@registros.CodEmpresa" />
                                        <button type="submit" class="btn btn-primary">Ver</button>
                                    </form>
                                    
                                    @if (registros.Estado == "0")
                                    {
                                    <form method="post" action="@Url.Action("EliminarRegistro", "ResponsableForm")">
                                        <input type="hidden" name="CodArea" value="@registros.CodArea" />
                                        <input type="hidden" name="NumFormulario" value="@registros.NumFormulario" />
                                        <input type="hidden" name="CodEmpresa" value="@registros.CodEmpresa" />
                                        <button type="submit" class="btn btn-danger" name="btnEliminar" value="Eliminar">Eliminar</button>
                                    </form>

                                    
                                        
                                        <form method="post" action="@Url.Action("Cerrar", "ResponsableForm")">
                                            <input type="hidden" name="CodArea" value="@registros.CodArea" />
                                            <input type="hidden" name="CodFormulario" value="@registros.CodFormulario" />
                                            <input type="hidden" name="NumFormulario" value="@registros.NumFormulario" />
                                            <input type="hidden" name="CodEmpresa" value="@registros.CodEmpresa" />
                                            <button type="submit" id="@botonID" class="btn btn-success" name="btnCerrar" value="Cerrar">Cerrar</button>
                                        </form>
                                    }else{
                                        <button type="button" class="btn btn-outline-primary" disabled>Cerrado</button>
                                    }


                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->
        <form method="post" asp-action="Salir" class="d-flex">
            <input type="hidden" name="CodArea" value="@TempData["Area"]" />
            <input type="hidden" name="CodFormulario" value="@TempData["Formulario"]" />
            <input type="hidden" name="CodEmpresa" value="@TempData["Empresa"]" />
            <button type="submit" class="btn btn-danger mr-auto">Atras</button>
        </form>
        
    </div>

</div>

