@model List<LimpFormulario>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                
                <div>
                    <p></p>
                    <p><strong>Area: <strong />   @Model.FirstOrDefault()?.CodArea</p>
                    <p><strong>Formulario:<strong /> @Model.FirstOrDefault()?.CodFormulario</p>
                    <p><strong>Usuario:<strong /> @((TempData["User"] as List<string>)?.FirstOrDefault())</p>
                    <p><strong>Fecha y hora actual:<strong /> <span id="fechaHoraActual"></span></p>
                    <hr>
                </div>
                <h3 class="card-title">Tabla de formularios</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <td><strong></strong></td>
                            <td><strong>Codigo</strong></td>
                            <td><strong>Actividades</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var formularios in Model)
                        {
                            <form method="post" action="@Url.Action("index","ActividadResponsable")">
                                <input type="hidden" name="CodFormulario" value="@formularios.CodFormulario" />
                            <tr>
                                <td>@Html.DisplayFor(m=>formularios.Descripcion)</td>
                                <td>@Html.DisplayFor(m=>formularios.CodFormulario)</td>
                                <td>
                                    <input type="hidden" name="CodArea" value="@formularios.CodArea" />
                                    <input type="hidden" name="CodArea" value="@formularios.CodFormulario" />
                                        @foreach (var item in (TempData["User"] as List<string>))
                                        {
                                        <input type="hidden" name="User" value="@item" />
                                        }
                                    <button type="submit" class="btn btn-primary">Ver</button>
                                    <button type="button" class="btn btn-primary">Eliminar</button>
                                    <button type="button" class="btn btn-primary">Cerrar</button>                                  
                                </td>
                            </tr>

                            </form>
                            
                        }
                        
                    </tbody>
                </table>
                
            </div>
            <!-- /.card-body -->
            
        </div>
        <!-- /.card -->
        <div class="d-flex justify-content-center">
            @foreach (var item in (TempData["User"] as List<string>))
            {
                <input type="hidden" name="User" value="@item" />
            }
            <button type="button" class="btn btn-danger"><a asp-action="CreateForm">Añadir</a></button>
        </div>
    </div>

</div>

<script>
    // Función para mostrar la fecha y hora actual
    function mostrarFechaHoraActual() {
        var fechaHora = new Date();
        var elementoFechaHora = document.getElementById("fechaHoraActual");
        elementoFechaHora.textContent = fechaHora.toLocaleString();
    }

    // Actualizar la fecha y hora cada segundo
    setInterval(mostrarFechaHoraActual, 1000);

    // Mostrar la fecha y hora actual al cargar la página
    mostrarFechaHoraActual();
</script>
