@model List<LimpFormulario>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <p></p>
                <h3 class="card-title">Tabla de formularios</h3>
                <hr>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Codigo</td>
                            <td>Actividades</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var formularios in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m=>formularios.Descripcion)</td>
                                <td>@Html.DisplayFor(m=>formularios.CodFormulario)</td>
                                <td>
                                    <form method="post" action="@Url.Action("Index","ResponsableForm")">
                                        <input type="hidden" name="CodFormulario" value="@formularios.CodFormulario"/>
                                        <input type="hidden" name="CodArea" value="@formularios.CodArea" />
                                        <input type="hidden" name="CodEmpresa" value="@formularios.CodEmpresa" />
                                        @foreach (var item in (TempData["User"] as List<string>))
                                        {
                                            <input type="hidden" name="User" value="@item" />
                                        }
                                        <button type="submit" class="btn btn-primary">Ver</button>
                                        
                                    </form>
                                    
                                    
                                </td>
                            </tr>
                        }
                        
                        
                    </tbody>
                </table>
                
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="d-flex justify-content-center">
            <form method="post" action="@Url.Action("Index","Inicio")">
                @foreach (var item in (TempData["User"] as List<string>))
                {
                    <input type="hidden" name="User" value="@item" />
                }
                <button type="submit" class="btn btn-danger">Atras</button>
            </form>
        </div>
    </div>
    
</div>
